<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="atlas" type="Atlas.Configuration.XmlConfiguration, Atlas" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <quartz>
    <add key="quartz.scheduler.instanceName" value="DefaultQuartzScheduler" />
    <add key="quartz.threadPool.threadCount" value="10" />
  </quartz>
  
  <atlas>
    <host name="AuthorityDeployerService" displayName="[Authority] Deployer Service" description="Service for polling Team City" allowMultipleInstances="false">
      <runtime accountType="NetworkService" startup="Automatic" />
    </host>
  </atlas>
 
  <log4net configSource="Config\log4net.config"/>
  
  <appSettings>
    <add key="TcJobCronExp" value="0/60 * * * * ?" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="TeamCityUsername" value="TeamCityServiceUser" />
    <add key="TeamCityPassword" value="superhemligt#3" />
    <add key="TeamCityApiUrl" value="http://tc.authoritycloudhosting.com/httpAuth/app/rest" />
    <add key="TeamCityUrl" value="tc.authoritycloudhosting.com" />

    <add key="OctopusServerUrl" value="http://octopus.authoritycloudhosting.com" />
    <add key="OctopusApiKey" value="API-PIIYT5NQEY4ZTKWEEHRQ93PEOQ" />

    <add key="NodeUrl" value="http://192.168.21.92:3000/api" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>